/*position: static* | relative | fixed | absolute | sticky*/

/*.container {
	display: flex;
	flex-direction: column;
}*/

.box {
	width: 100px;
	height: 100px;
	color: #FFF;
}

.red {
	background-color: red;
}

.green {
	background-color: green;	
}

.blue {
	background-color: blue;
}

.fixed {
	position: fixed;
	top: 10px;
	right: 10px;
	/*fixed + right 10px -> cách mép phải trình duyệt 10px
	fixed + top 10px   -> cách mép trên trình duyệt 10px	 
	vị trí ko thay đổi khi cuộn lên cuộn xuống brsử dụng khi kéo trình duyệt xuống element vẫn bám sát mép trên*/ 
	/*-> fixed di chuyển element tương đối so với trình duyệt, 
	khi phần tử fixed thay đổi, các phần tử khác cũng thay đổi vị trí để lấp lại khoảng trống pt fixed đã bỏ đi*/
}
