extends ../layouts/master.pug

block content
	h1 Create User

	form(action="/users/create", method="POST")
		lable Name
		input(type="text", name="name")
		br
		lable Phone
		input(type="text", name="phone")
		button Create